@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-fill: #f6f6f6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: var(--background-fill);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
